<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="atras" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">
            {{title}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="heart"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="star"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
