<app-custom-header title="Grid and row"></app-custom-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let a of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
                hola, item {{ i + 1}}
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col *ngFor="let a of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
                <ion-card>
                    <ion-img src="/assets/shapes.svg"></ion-img>
                </ion-card>
               <ion-card-header>
                   <ion-card-subtitle>
                       Tarjeta subtitulo
                   </ion-card-subtitle>
                   <ion-card-title>
                       Tajeta titulo
                   </ion-card-title>
               </ion-card-header>
                <ion-card-content>
                    Meeseeks and Destroy (conocido como "Meeseeks destructores" en Latinoamérica) es el quinto episodio de la primera temporada de la serie de televisión animada para adultos: Rick y Morty
                </ion-card-content>
            </ion-col>

        </ion-row>

    </ion-grid>
</ion-content>
