<app-custom-header title="Grid and row"></app-custom-header>

<ion-content class="ion-padding" fullscreen="true">
    <h3>manejo de sistema de grillado de 12 posiciones variables en funcion del tamanio de pantalla</h3>
    <ion-grid fixed="true">
        <!--<ion-row>
            <ion-col *ngFor="let a of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
                hola, item {{ i + 1}}
            </ion-col>

        </ion-row>
        -->
        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let a of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
                <ion-card>
                    <ion-card-header>
                        <ion-img src="/assets/shapes.svg"></ion-img>
                        <ion-card-subtitle>
                            Tarjeta subtitulo
                        </ion-card-subtitle>
                        <ion-card-title>
                            Tajeta titulo
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Meeseeks and Destroy (conocido como "Meeseeks destructores" en Latinoamérica) es el quinto
                        episodio de la primera temporada de la serie de televisión animada para adultos: Rick y Morty
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>

    </ion-grid>
</ion-content>
