<app-custom-header title="Botones y redireccion"></app-custom-header>
<ion-content>
  <ion-button expand="full" color="primary" size="small">Small</ion-button>
  <ion-button expand="full" color="primary" size="default">Medium</ion-button>
  <ion-button expand="full" color="primary" size="large">Large</ion-button>
  <!--navegacion con boton-->
  <ion-button expand="full" color="tertiary" routerLink="/alert">Ir a Alert</ion-button>
  <!--con row-->
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="tertiary" routerLink="/avatar">Avatar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="tertiary" routerLink="/action-sheet">Action Sheet</ion-button>
    </ion-col>
  </ion-row>

  <!--fill buttons-->
  <ion-button color="tertiary" fill="clear">clear</ion-button>
  <ion-button color="tertiary" fill="solid">solid</ion-button>iomin
  <ion-button color="tertiary" fill="outline">OutLine</ion-button>

</ion-content>
