<app-custom-header title="Fabs"></app-custom-header>

<ion-content class="ion-padding">
    <h3>los fabs son los botones flotantes como ven abajo</h3>
    <p>Adicionalmente aca se ven el uso del atributo color, con modificacion de variables de coloeres</p>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button>
                <ion-icon name="logo-facebook" color="facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-youtube" color="youtube"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-twitter" color="twitter"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button>
                <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-github"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-list>
        <ion-item *ngFor="let i of data; let _index = index">
            {{_index + 1}}
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar color="twitter">
        <ion-title>
            pie de app
        </ion-title>
    </ion-toolbar>
</ion-footer>
