<app-custom-header title="avatar"></app-custom-header>
<ion-content>
    <!--en chsips-->
    <ion-chip *ngFor="let a of [1,1,1,1,1]">
        <ion-avatar>
            <img src="/assets/img/rick.jfif">
        </ion-avatar>
        <ion-label>rick sanchez</ion-label>
    </ion-chip>
    <!--en lista-->
    <ion-list *ngFor="let a of [1,1,1,1,1,1,1]">
        <ion-item>
            <ion-avatar slot="start">
                <img src="/assets/img/rick.jfif">
            </ion-avatar>
            <ion-label>rick sanchez</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
