<!--main es el id del routoutlet del app.component.html del contenedor principal-->
<ion-menu side="start" menuId="mainMenu" contentId="main">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Componentes</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle *ngFor="let p of pagesList | async">
                <ion-item [routerLink]="p.redirectTo">
                    <ion-icon slot="start" [name]="p.icon"></ion-icon>
                    {{p.name}}
                </ion-item>
            </ion-menu-toggle>

        </ion-list>
    </ion-content>
</ion-menu>
